@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  padding: 0;
  margin: 0;
}

a,
button {
  cursor: pointer;
}

ul,
ol,
li {
  padding-left: 0;
  list-style: none;
}

body {
  width: 100%;
  height: 1080px;
  padding: 0;
  margin: 0 auto;
  position: relative;
  color: #fff;
  overflow: hidden;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
body header {
  height: 65px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body header h1 {
  font-size: 20px;
  font-weight: bold;
  color: #999;
}
body header .header_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}
body header .header_item div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}
body header .header_item div div.date_text {
  color: #999;
  font-size: 18px;
}
body header .header_item div div.time_text {
  color: #999;
  font-size: 25px;
  margin-left: 5px;
}
body header .header_item div span.am {
  color: #999;
  font-size: 18px;
}
body header .header_item nav.nav_btn {
  float: right;
}
body header .header_item nav.nav_btn ul.nav_btn_list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body header .header_item nav.nav_btn ul.nav_btn_list li {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
body header .header_item nav.nav_btn ul.nav_btn_list li.refresh_btn {
  background: url(../img/refresh.png) no-repeat center center;
  transform: rotate(360deg);
  transition: transform 0.5s;
}
body header .header_item nav.nav_btn ul.nav_btn_list li.refresh_btn.active {
  transform: rotate(0deg);
  transition: 0s;
}
body header .header_item nav.nav_btn ul.nav_btn_list li.expand_btn {
  background: url(../img/expand.png) no-repeat center center;
}
body header .header_item nav.nav_btn ul.nav_btn_list li.small_btn {
  background: url(../img/small.png) no-repeat center center;
}
body header .header_item nav.nav_btn ul.nav_btn_list li.set_btn {
  background: url(../img/set.png) no-repeat center center;
}
body header .header_item nav.nav_btn ul.nav_btn_list li.theme_toggle {
  width: 38px;
  height: 23px;
  position: relative;
  cursor: pointer;
}
body header .header_item nav.nav_btn ul.nav_btn_list li.theme_toggle .button-toggle {
  display: inline-block;
  background: #393633;
  border-radius: 7.5px;
  height: 15px;
  padding: 4px;
  width: 30px;
  position: relative;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.22);
}
body header .header_item nav.nav_btn ul.nav_btn_list li.theme_toggle .button-toggle .handle {
  position: absolute;
  left: 4px;
  right: auto;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 6.5px;
  transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
}
body header .header_item nav.nav_btn ul.nav_btn_list li.theme_toggle .toggler {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
body header .header_item nav.nav_btn ul.nav_btn_list li.theme_toggle .toggler:checked + .button-toggle {
  background: #121F4B;
}
body header .header_item nav.nav_btn ul.nav_btn_list li.theme_toggle .toggler:checked + .button-toggle .handle {
  left: 20px;
}
body section {
  width: 1920px;
  height: 1015px;
  position: absolute;
  top: 65px;
  left: 0;
}
body section.first_slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  /*공통영역*/
}
body section.first_slide .content .content_name {
  font-size: 16px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}
body section.first_slide div.left_section {
  width: 350px;
  height: 820px;
  padding: 10px;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body section.first_slide div.left_section .content {
  height: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body section.first_slide div.left_section .content_1 .evt_level_list {
  width: 100%;
  height: 220px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 25px 15px;
}
body section.first_slide div.left_section .content_1 .evt_level_list li {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  /*이벤트별 border color evt*/
}
body section.first_slide div.left_section .content_1 .evt_level_list li .evt_border_color {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: spin 2s infinite linear;
}
body section.first_slide div.left_section .content_1 .evt_level_list li .evt_data {
  width: 68px;
  height: 68px;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
body section.first_slide div.left_section .content_1 .evt_level_list li .evt_data .evt_num {
  font-weight: 900;
  font-size: 16px;
}
body section.first_slide div.left_section .content_1 .evt_level_list li .evt_data .evt_name {
  font-size: 14px;
}
body section.first_slide div.left_section .content_1 .evt_level_list li.evt_level_1 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(129, 16, 45, 0), rgba(129, 16, 45, 0), rgba(177, 21, 62, 0.46), #E71C51);
}
body section.first_slide div.left_section .content_1 .evt_level_list li.evt_level_2 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(199, 58, 16, 0), rgba(199, 58, 16, 0), rgba(187, 126, 84, 0.46), #FF7C20);
}
body section.first_slide div.left_section .content_1 .evt_level_list li.evt_level_3 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(124, 99, 16, 0), rgba(124, 99, 16, 0), rgba(182, 145, 20, 0.46), #FAC000);
}
body section.first_slide div.left_section .content_1 .evt_level_list li.evt_level_4 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(15, 113, 88, 0), rgba(15, 113, 88, 0), rgba(24, 164, 129, 0.46), #22B38F);
}
body section.first_slide div.left_section .content_1 .evt_level_list li.evt_level_5 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(16, 55, 117, 0), rgba(16, 55, 117, 0), rgba(24, 77, 159, 0.46), #3C82EF);
}
body section.first_slide div.left_section .content_1 .evt_level_list li.evt_level_6 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(255, 159, 202, 0), rgba(255, 159, 186, 0), rgba(147, 21, 57, 0.46), #FF9FBA);
}
body section.first_slide div.right_section {
  width: 950px;
  height: 820px;
  border-radius: 10px 0 0 10px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  gap: 10px;
}
body section.first_slide div.right_section .content {
  width: 100%;
  height: 410px;
  display: flex;
  flex-direction: column;
  position: relative;
}
body section.first_slide div.right_section .content .content_name {
  height: 40px;
}
body section.first_slide div.right_section .content .chart_color {
  width: 143px;
  position: absolute;
  right: 20px;
  top: 13px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body section.first_slide div.right_section .content .chart_color li {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
body section.first_slide div.right_section .content .chart_color li::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
body section.first_slide div.right_section .content .chart_color li:first-child:before {
  background-color: #EC6B01;
}
body section.first_slide div.right_section .content .chart_color li:nth-child(2):before {
  background-color: #0253A5;
}
body section.first_slide div.right_section .content .internet_data {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
}
body section.first_slide div.right_section .content .internet_data ul.internet_data_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
body section.first_slide div.right_section .content .chart_area {
  height: 310px;
  width: 100%;
  margin-top: 10px;
  padding: 0 20px;
  box-sizing: border-box;
}
body section.first_slide div.bottom_section {
  margin: 0 auto;
  width: 1900px;
  height: 175px;
  border-radius: 10px 10px 0 0;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
body section.first_slide div.bottom_section .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body section.first_slide div.bottom_section .content .content_name {
  height: 30px;
}
body section.first_slide div.bottom_section .content .evt_table {
  width: 100%;
  height: calc(100% - 30px);
}
body section.first_slide div.bottom_section .content .evt_table table {
  width: 100%;
  height: 100%;
  text-align: center;
}
body section.first_slide div.bottom_section .content .evt_table table thead {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr {
  font-size: 16px;
  line-height: 25px;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr .evt_table_level {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: left;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr .evt_table_level::before {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #fff;
  content: "";
  display: block;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr:first-child .evt_table_level {
  color: #E61C51;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr:first-child .evt_table_level::before {
  background-color: #E61C51;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr:nth-child(2) .evt_table_level {
  color: #FF7C20;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr:nth-child(2) .evt_table_level::before {
  background-color: #FF7C20;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr:nth-child(3) .evt_table_level {
  color: #FAC000;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr:nth-child(3) .evt_table_level::before {
  background-color: #FAC000;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr:nth-child(4) .evt_table_level {
  color: #FF9FBA;
}
body section.first_slide div.bottom_section .content .evt_table table tbody tr:nth-child(4) .evt_table_level::before {
  background-color: #FF9FBA;
}
body section.first_slide div.center_section {
  width: 580px;
  height: 820px;
}
body section.first_slide div.center_section div.content_4 {
  width: 100%;
  height: 100%;
}
body section.first_slide div.center_section div.content_4 .company_list {
  width: 100%;
  height: 100%;
  position: relative;
}
body section.first_slide div.center_section div.content_4 .company_list li {
  position: absolute;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* 각 지역별 위치값*/
}
body section.first_slide div.center_section div.content_4 .company_list li .company_icon {
  width: 36px;
  height: 63px;
  background: url(../img/company.svg) no-repeat center center;
}
body section.first_slide div.center_section div.content_4 .company_list li .company_name {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 90px;
  height: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_1 {
  /*경기*/
  left: 150px;
  top: 100px;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_2 {
  /*서울*/
  left: 105px;
  top: 190px;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_2 .company_icon::after {
  content: "";
  background: url(../img/down_company.svg) no-repeat center center;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 32px;
  z-index: 1;
  width: 36px;
  height: 63px;
  mix-blend-mode: multiply;
  animation: downBlink 1s step-end infinite;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_2 .company_name {
  animation: downTextBlink 1s step-start infinite;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_3 {
  /*강원*/
  right: 180px;
  top: 140px;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_4 {
  /*대전*/
  left: 161px;
  top: 396px;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_4 .company_icon {
  /*이벤트 발생*/
  background-blend-mode: color-burn;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_5 {
  /*대구*/
  right: 160px;
  bottom: 265px;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_6 {
  /*광주*/
  left: 80px;
  bottom: 150px;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_7 {
  /*부산*/
  right: 80px;
  bottom: 160px;
}
body section.first_slide div.center_section div.content_4 .company_list li.company_8 {
  /*제주*/
  right: 30px;
  bottom: 40px;
}
body section.second_slide {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  /*공통영역*/
}
body section.second_slide .content .content_name {
  font-size: 16px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}
body section.second_slide .top_section {
  width: 1900px;
  height: 340px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
}
body section.second_slide .top_section .content {
  border-radius: 10px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
body section.second_slide .top_section .content.content_8 {
  width: 460px;
  height: 340px;
  display: flex;
  flex-direction: column;
}
body section.second_slide .top_section .content.content_8 .content_name {
  height: 35px;
}
body section.second_slide .top_section .content.content_8 .evt_level_list {
  width: 100%;
  height: 290px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 25px 15px;
}
body section.second_slide .top_section .content.content_8 .evt_level_list li {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  /*이벤트별 border color evt*/
}
body section.second_slide .top_section .content.content_8 .evt_level_list li .evt_border_color {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: spin 2s infinite linear;
}
body section.second_slide .top_section .content.content_8 .evt_level_list li .evt_data {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
body section.second_slide .top_section .content.content_8 .evt_level_list li .evt_data .evt_num {
  font-weight: 900;
  font-size: 16px;
}
body section.second_slide .top_section .content.content_8 .evt_level_list li .evt_data .evt_name {
  font-size: 14px;
}
body section.second_slide .top_section .content.content_8 .evt_level_list li.evt_level_1 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(129, 16, 45, 0), rgba(129, 16, 45, 0), rgba(177, 21, 62, 0.46), #E71C51);
}
body section.second_slide .top_section .content.content_8 .evt_level_list li.evt_level_2 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(199, 58, 16, 0), rgba(199, 58, 16, 0), rgba(187, 126, 84, 0.46), #FF7C20);
}
body section.second_slide .top_section .content.content_8 .evt_level_list li.evt_level_3 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(124, 99, 16, 0), rgba(124, 99, 16, 0), rgba(182, 145, 20, 0.46), #FAC000);
}
body section.second_slide .top_section .content.content_8 .evt_level_list li.evt_level_4 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(15, 113, 88, 0), rgba(15, 113, 88, 0), rgba(24, 164, 129, 0.46), #22B38F);
}
body section.second_slide .top_section .content.content_8 .evt_level_list li.evt_level_5 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(16, 55, 117, 0), rgba(16, 55, 117, 0), rgba(24, 77, 159, 0.46), #3C82EF);
}
body section.second_slide .top_section .content.content_8 .evt_level_list li.evt_level_6 .evt_border_color {
  background: conic-gradient(from 120deg at center center, rgba(255, 159, 202, 0), rgba(255, 159, 186, 0), rgba(147, 21, 57, 0.46), #FF9FBA);
}
body section.second_slide .top_section .content.network_group {
  width: 460px;
  height: 160px;
  display: flex;
  flex-direction: column;
}
body section.second_slide .top_section .content.network_group .network_area {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 30px);
  padding: 0 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
body section.second_slide .top_section .content.network_group .network_area .cube {
  position: relative;
  width: 70px;
  height: 70px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: rotateCube 4s linear infinite;
}
body section.second_slide .top_section .content.network_group .network_area .cube .lateral {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
body section.second_slide .top_section .content.network_group .network_area .cube .lateral span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, #0086D1);
}
body section.second_slide .top_section .content.network_group .network_area .cube .lateral span:nth-child(1) {
  transform: rotateY(90deg) translateZ(34px);
}
body section.second_slide .top_section .content.network_group .network_area .cube .lateral span:nth-child(2) {
  transform: rotateY(180deg) translateZ(34px);
}
body section.second_slide .top_section .content.network_group .network_area .cube .lateral span:nth-child(3) {
  transform: rotateY(270deg) translateZ(34px);
}
body section.second_slide .top_section .content.network_group .network_area .cube .lateral span:nth-child(4) {
  transform: rotateY(360deg) translateZ(34px);
}
body section.second_slide .top_section .content.network_group .network_area .cube .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  transform: rotateX(90deg) translateZ(34px);
  transform-style: preserve-3d;
}
body section.second_slide .top_section .content.network_group .network_area .cube .top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 134, 209, 0.5);
  transform: translateZ(-80px);
  filter: blur(30px);
  box-shadow: 0 0 220px rgba(0, 134, 209, 0.1), 0 0 300px rgba(0, 134, 209, 0.2), 0 0 400px rgba(0, 134, 209, 0.3);
}
body section.second_slide .top_section .content.network_group .network_area .arrow {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 81px;
  height: 57px;
  margin-left: 10px;
}
body section.second_slide .top_section .content.network_group .network_area .arrow li {
  background: url(../img/arrow.png) no-repeat center center;
  width: 24px;
  height: 57px;
  position: absolute;
  top: 0;
  animation: loading 1s infinite alternate;
}
body section.second_slide .top_section .content.network_group .network_area .arrow li:first-child {
  left: 0;
  animation-delay: 0.2s;
}
body section.second_slide .top_section .content.network_group .network_area .arrow li:nth-child(2) {
  left: 12px;
  animation-delay: 0.4s;
}
body section.second_slide .top_section .content.network_group .network_area .arrow li:nth-child(3) {
  left: 24px;
  animation-delay: 0.6s;
}
body section.second_slide .top_section .content.network_group .network_area .arrow li:nth-child(4) {
  left: 36px;
  animation-delay: 0.8s;
}
body section.second_slide .top_section .content.network_group .network_area .arrow li:nth-child(5) {
  left: 48px;
  animation-delay: 1s;
}
body section.second_slide .top_section .content.network_group .network_area .arrow li:nth-child(6) {
  left: 60px;
  animation-delay: 1.2s;
}
body section.second_slide .top_section .content.network_group .network_area .network_num {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 20px;
}
body section.second_slide .top_section .content.network_group .network_area .network_num li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
body section.second_slide .top_section .content.network_group .network_area .network_num li span {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
body section.second_slide .top_section .content.network_group .network_area .network_num li span::before {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #E12E0D;
  content: "";
}
body section.second_slide .top_section .content.network_group .network_area .network_num li div {
  width: 75px;
  height: 63px;
  border-radius: 3px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
body section.second_slide .top_section .content.content_11 .network_area .cube .lateral span {
  background: linear-gradient(#151515, #E61C51);
}
body section.second_slide .top_section .content.content_11 .network_area .cube .top::before {
  background-color: rgba(230, 28, 81, 0.5);
  box-shadow: 0 0 220px rgba(230, 28, 81, 0.1), 0 0 300px rgba(230, 28, 81, 0.2), 0 0 400px rgba(230, 28, 81, 0.3);
}
body section.second_slide .top_section .content.content_10 .network_area .cube .lateral span {
  background: linear-gradient(#151515, #FF7C20);
}
body section.second_slide .top_section .content.content_10 .network_area .cube .top::before {
  background-color: rgba(225, 124, 32, 0.5);
  box-shadow: 0 0 220px rgba(225, 124, 32, 0.1), 0 0 300px rgba(225, 124, 32, 0.2), 0 0 400px rgba(225, 124, 32, 0.3);
}
body section.second_slide .middle_section {
  width: 1900px;
  height: 460px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 25px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
body section.second_slide .middle_section .cart_table {
  width: 927.5px;
  height: 260px;
  position: relative;
  overflow: hidden;
}
body section.second_slide .middle_section .cart_table .tab_pager {
  position: absolute;
  right: 0;
  top: 5px;
  width: 52px;
  height: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  box-sizing: border-box;
  gap: 0;
}
body section.second_slide .middle_section .cart_table .tab_pager li {
  font-size: 12px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
body section.second_slide .middle_section .cart_table .tab_pager li.active {
  background: #E12E0D;
  color: #fff;
}
body section.second_slide .middle_section .cart_table .backbone_table_list {
  width: 2775px;
  height: calc(100% - 30px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
}
body section.second_slide .middle_section .cart_table .backbone_table_list table {
  width: 925px;
  height: 100%;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  border-style: none;
  border-collapse: collapse;
}
body section.second_slide .middle_section .cart_table .backbone_table_list table thead {
  line-height: 30px;
  font-size: 14px;
}
body section.second_slide .middle_section .cart_table .backbone_table_list table thead th {
  text-align: center;
}
body section.second_slide .middle_section .cart_table .backbone_table_list table tbody tr {
  line-height: 30px;
}
body section.second_slide .middle_section .cart_table .backbone_table_list table tbody tr td {
  text-align: center;
}
body section.second_slide .middle_section .cart_content {
  width: 927.5px;
  height: 200px;
  position: relative;
}
body section.second_slide .middle_section .cart_content .chart_color {
  position: absolute;
  right: 0;
  top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
body section.second_slide .middle_section .cart_content .chart_color li {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
body section.second_slide .middle_section .cart_content .chart_color li::before {
  width: 20px;
  height: 5px;
  border-radius: 2.5px;
  background: #fff;
  display: block;
  content: "";
}
body section.second_slide .middle_section .cart_content .chart_color li:first-child::before {
  background: #EC6B01;
}
body section.second_slide .middle_section .cart_content .chart_color li:nth-child(2)::before {
  background: #0253A5;
}
body section.second_slide .middle_section .cart_content .backbone_chart {
  width: 100%;
  height: calc(100% - 30px);
  padding: 10px 0;
  box-sizing: border-box;
}
body section.second_slide div.bottom_section {
  margin: 0 auto;
  width: 1900px;
  height: 175px;
  border-radius: 10px 10px 0 0;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
body section.second_slide div.bottom_section .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body section.second_slide div.bottom_section .content .content_name {
  height: 30px;
}
body section.second_slide div.bottom_section .content .evt_table {
  width: 100%;
  height: calc(100% - 30px);
}
body section.second_slide div.bottom_section .content .evt_table table {
  width: 100%;
  height: 100%;
  text-align: center;
}
body section.second_slide div.bottom_section .content .evt_table table thead {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr {
  font-size: 16px;
  line-height: 20px;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr .evt_table_level {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: left;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr .evt_table_level::before {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #fff;
  content: "";
  display: block;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr:first-child .evt_table_level {
  color: #E61C51;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr:first-child .evt_table_level::before {
  background-color: #E61C51;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr:nth-child(2) .evt_table_level {
  color: #FF7C20;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr:nth-child(2) .evt_table_level::before {
  background-color: #FF7C20;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr:nth-child(3) .evt_table_level {
  color: #FAC000;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr:nth-child(3) .evt_table_level::before {
  background-color: #FAC000;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr:nth-child(4) .evt_table_level {
  color: #FF9FBA;
}
body section.second_slide div.bottom_section .content .evt_table table tbody tr:nth-child(4) .evt_table_level::before {
  background-color: #FF9FBA;
}
body .pager {
  position: absolute;
  width: 55px;
  height: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .pager li.active {
  width: 25px;
  height: 15px;
  background-color: #fff;
  border-radius: 12.5px;
  transition: 0.5s;
}
body .pager li {
  width: 15px;
  height: 15px;
  border-radius: 12.5px;
  background-color: #444;
  cursor: pointer;
}
body.dark {
  /*다크테마*/
  background: url(../img/dark/bg.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
body.dark .first_slide {
  /*공통영역*/
}
body.dark .first_slide .content .content_name {
  color: #999;
}
body.dark .first_slide div.left_section {
  border-radius: 0 10px 10px 0;
  background: rgba(45, 45, 45, 0.5);
}
body.dark .first_slide div.left_section .content_1 .evt_level_list li {
  background-color: #2d2d2d;
}
body.dark .first_slide div.left_section .content_1 .evt_level_list li .evt_data {
  background-color: #1A1E25;
}
body.dark .first_slide div.left_section .content_1 .evt_level_list li .evt_data .evt_name {
  color: #999;
}
body.dark .first_slide div.right_section {
  background: rgba(45, 45, 45, 0.5);
}
body.dark .first_slide div.right_section .content .chart_color li {
  color: #999;
}
body.dark .first_slide div.bottom_section {
  background: rgba(45, 45, 45, 0.5);
}
body.dark .first_slide div.bottom_section .content .evt_table table thead {
  color: #999;
}
body.dark .first_slide div.center_section div.content_4 {
  background: url(../img/dark/koreamap.svg) no-repeat center center;
}
body.dark .first_slide div.center_section div.content_4 .company_list li .company_name {
  border: 1px solid #0086D1;
  background: rgba(0, 124, 209, 0.3);
}
body.dark .second_slide {
  /*공통영역*/
}
body.dark .second_slide .content .content_name {
  color: #999;
}
body.dark .second_slide .top_section .content {
  background: rgba(45, 45, 45, 0.5);
}
body.dark .second_slide .top_section .content.content_8 .evt_level_list li {
  background-color: #2d2d2d;
}
body.dark .second_slide .top_section .content.content_8 .evt_level_list li .evt_data {
  background-color: #1A1E25;
}
body.dark .second_slide .top_section .content.content_8 .evt_level_list li .evt_data .evt_name {
  color: #999;
}
body.dark .second_slide .top_section .content.network_group .network_area .network_num li span {
  color: #999;
}
body.dark .second_slide .top_section .content.network_group .network_area .network_num li div {
  background: #2c2c2c;
  border: 1px solid #999;
}
body.dark .second_slide .middle_section {
  background: rgba(45, 45, 45, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
body.dark .second_slide .middle_section .cart_table .tab_pager {
  background: #33373D;
}
body.dark .second_slide .middle_section .cart_table .tab_pager li {
  color: #999;
  background: #33373D;
}
body.dark .second_slide .middle_section .cart_table .tab_pager li.active {
  background: #E12E0D;
}
body.dark .second_slide .middle_section .cart_table .backbone_table_list table thead {
  background: #54545A;
}
body.dark .second_slide .middle_section .cart_table .backbone_table_list table tbody tr:nth-child(odd) {
  background: #2C2C2C;
}
body.dark .second_slide .middle_section .cart_table .backbone_table_list table tbody tr:nth-child(even) {
  background: #353535;
}
body.dark .second_slide .middle_section .cart_content .chart_color li {
  color: #999;
}
body.dark .second_slide .middle_section .cart_content .chart_color li::before {
  background: #fff;
}
body.dark .second_slide div.bottom_section {
  background: rgba(45, 45, 45, 0.5);
}
body.dark .second_slide div.bottom_section .content .evt_table table thead {
  color: #999;
}
body.blue {
  /*블루테마*/
  background: url(../img/blue/bg.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
body.blue .first_slide {
  /*공통영역*/
}
body.blue .first_slide .content .content_name {
  color: #ccc;
}
body.blue .first_slide div.left_section {
  border-radius: 0 10px 10px 0;
  background: rgba(9, 11, 34, 0.5);
}
body.blue .first_slide div.left_section .content_1 .evt_level_list li {
  background-color: #001E4C;
}
body.blue .first_slide div.left_section .content_1 .evt_level_list li .evt_data {
  background-color: #062C62;
}
body.blue .first_slide div.left_section .content_1 .evt_level_list li .evt_data .evt_name {
  color: #999;
}
body.blue .first_slide div.right_section {
  background: rgba(9, 11, 34, 0.5);
}
body.blue .first_slide div.right_section .content .chart_color li {
  color: #ccc;
}
body.blue .first_slide div.bottom_section {
  background: rgba(9, 11, 34, 0.5);
}
body.blue .first_slide div.bottom_section .content .evt_table table thead {
  color: #ccc;
}
body.blue .first_slide div.center_section div.content_4 {
  background: url(../img/blue/koreamap.svg) no-repeat center center;
}
body.blue .first_slide div.center_section div.content_4 .company_list li .company_name {
  border: 1px solid #090B22;
  background: rgba(9, 11, 34, 0.3);
}
body.blue .second_slide {
  /*공통영역*/
}
body.blue .second_slide .content .content_name {
  color: #ccc;
}
body.blue .second_slide .top_section .content {
  background: rgba(9, 11, 34, 0.5);
}
body.blue .second_slide .top_section .content.content_8 .evt_level_list li {
  background-color: #001E4C;
}
body.blue .second_slide .top_section .content.content_8 .evt_level_list li .evt_data {
  background-color: #062C62;
}
body.blue .second_slide .top_section .content.content_8 .evt_level_list li .evt_data .evt_name {
  color: #ccc;
}
body.blue .second_slide .top_section .content.network_group .network_area .network_num li span {
  color: #ccc;
}
body.blue .second_slide .top_section .content.network_group .network_area .network_num li div {
  background: #20324F;
  border: 1px solid #ccc;
}
body.blue .second_slide .middle_section {
  background: rgba(9, 11, 34, 0.5);
}
body.blue .second_slide .middle_section .cart_table .tab_pager {
  background: #001534;
}
body.blue .second_slide .middle_section .cart_table .tab_pager li {
  color: #999;
  background: #001534;
}
body.blue .second_slide .middle_section .cart_table .tab_pager li.active {
  background: #E12E0D;
}
body.blue .second_slide .middle_section .cart_table .backbone_table_list table thead {
  background: #5061A6;
}
body.blue .second_slide .middle_section .cart_table .backbone_table_list table tbody tr:nth-child(odd) {
  background: #3C487A;
}
body.blue .second_slide .middle_section .cart_table .backbone_table_list table tbody tr:nth-child(even) {
  background: #333E6C;
}
body.blue .second_slide .middle_section .cart_content .chart_color li {
  color: #ccc;
}
body.blue .second_slide .middle_section .cart_content .chart_color li::before {
  background: #fff;
}
body.blue .second_slide div.bottom_section {
  background: rgba(9, 11, 34, 0.5);
}
body.blue .second_slide div.bottom_section .content .evt_table table thead {
  color: #ccc;
}
body.blue .pager li.active {
  background-color: #fff;
}
body.blue .pager li {
  background-color: #121F4B;
}/*# sourceMappingURL=root.style.css.map */